
{% extends 'base2.html' %}
{% load static %}
{% block content %}

<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Dr. Abdul Awal</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Dentist</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dr. Abdul Awal</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>


		

		
		

		<!-- End Service Details Area -->
		<section class="service-details-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="service-sidebar-area">
							<div class="service-list service-card">
								<h3 class="service-details-title">Highlights</h3>
								<ul>
									<li>
										BDS
										<i class='bx bx-check'></i>
									</li>
									<li>
										CONSULTANT
										<i class='bx bx-check'></i>
									</li>
									<li>
										BCS-Health 
										<i class='bx bx-check'></i>
									</li>
									<li>
										MS(Prosthodontics) 
										<i class='bx bx-check'></i>
									</li>
								</ul>
							</div>
							<div class="service-faq service-card">
								<h3 class="service-details-title">DENTISTS</h3>
								<div class="faq-area">
									<div class="questions-bg-area">
										<div class="row">
											<div class="col-lg-12">
												<div class="faq-accordion">
													<ul class="accordion">
														<li class="accordion-item">
															<a class="accordion-title active" href="ddetails1.html">
																<span>1</span>
																Dr. Mahfuzul Islam
															</a>
															<p class="accordion-content ">Dr.Md.Mahfuzul Islam completed his BDS Degree from Dhaka Dental College in 2003.Then he has completed 1 year post graduate ...</p>
														</li>
														<li class="accordion-item">
															<a class="accordion-title active" href="ddetails2.html">
																<span>2</span>
																Dr.Md Masudur Rahman Iqbal
															</a>
															<p class="accordion-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis deleniti nisi necessitatibus, dolores voluptates quam blanditiis fugiat doloremque? Excepturi, minus rem error aut necessitatibus quasi voluptates assumenda ipsum provident tenetur? Lorem.</p>
														</li>
														<li class="accordion-item">
															<a class="accordion-title active" href="ddetails3.html">
																<span>3</span>
																Prof.Dr. Kazi Mehdih ul Alam
															</a>
															<p class="accordion-content ">Prof.Dr. Kazi Mehdih ul Alam is a Legend in the field of Dentistry in Bangladesh. He establishes pediatrics, Preventive and dental Public </p>
														</li>
														<li class="accordion-item">
															<a class="accordion-title active " href="ddetails4.html">
																<span>4</span>
																Dr. Abdul Awal
															</a>
															<p class="accordion-content show">Dr. Md. Abdul Awal is a renowned personality in Bangladesh for his excellent Prosthodontics and Cosmetic Dentistry works as well as an eminent speaker and...</p>
														</li>
														<li class="accordion-item">
															<a class="accordion-title active" href="ddetails5.html">
																<span>5</span>
																Dr. Ishrat Mafruha
															</a>
															<p class="accordion-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis deleniti nisi necessitatibus, dolores voluptates quam blanditiis fugiat doloremque? Excepturi, minus rem error aut necessitatibus quasi voluptates assumenda ipsum provident tenetur? Lorem.</p>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div> 
							</div>
							<div class="service-list service-card">
								<h3 class="service-details-title">Contact Info</h3>
								<ul>
									<li>
										<a href="tel:+8801765-65454">
											+8801765-65454
											<i class='bx bx-phone-call bx-rotate-270'></i>
										</a>
									</li>
									<li>
										<a href="mailto:info@ddentalcenter.com">
											info@ddentalcenter.com
											<i class='bx bx-envelope'></i>
										</a>
									</li>
									<li>
										<a href="contact.html">
										Concord Arcadia Shopping Mall 
										<i class='bx bx-location-plus'></i>
									</a>
									</li>
									<li>
										9:00 AM – 8:00 PM
										<i class='bx bx-time'></i>
									</li>
								</ul>
							</div>
							<div class="service-list service-card">
								<h3 class="service-details-title">Download Brochures</h3>
								<ul>
									<li>
										<a href="#">
											PDF File (1)
											<i class='bx bxs-cloud-download'></i>
										</a>
									</li>
									<li>
										<a href="#">
											PDF File (2)
											<i class='bx bxs-cloud-download'></i>
										</a>
									</li>
									<li>
										<a href="#">
											PDF File (3)
											<i class='bx bxs-cloud-download'></i>
										</a>
									</li>
									<li>
										<a href="#">
											PDF File (4)
											<i class='bx bxs-cloud-download'></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="service-details-wrap">
							<!-- <div class="service-img">
								<img src="assets/img/service-details/service-details-img.jpg" alt="Image">
							</div> -->
							<h2>Meet Dr. Md Abdul Awal 
							</h2>
							<h3>BDS,BCS-Health,MS(Prosthodontics)
							</h3>
							<p>Dr. Md. Abdul Awal is a renowned personality in Bangladesh for his excellent Prosthodontics and Cosmetic Dentistry works as well as an eminent speaker and trainer of this arena of Dentistry. He completed his BDS Degree from Dhaka Dental College in 1994 and finished his post-graduation in MS Prosthodontics from Bangabandhu Sheik Mujib Medical University in 2006. 
								</p>
								<p>He has joined Government service (BCS - Health) in 1997 and worked in different hospitals. He received advanced training on CAD - CAM of Prosthesis and Implant Planning from Bengaluru, India.</p>
							

							<p>His interest area of work is Cosmetic Dentistry, Digital Smile Design (DSD), Implant Planning, Crown Bridge and Maxillofacial Prosthesis. Now he is working as an Assistant professor in prosthodontic department of Dhaka Dental College Mirpur Dhaka.
							<!-- <ul>
								<li class="paint">
									<i class='bx bx-check'></i>
									Paint surface clay barred is vailable to surface
								</li>
								<li>
									<i class='bx bx-check'></i>
									Boot compartment cleaned the car
								</li>
							</ul> -->
							
							<h3>Natural-Looking and Individualized to You
							</h3>

							<p class="mb-30">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
							<div class="car-service-list-wrap">
								<div class="row align-items-center">
									<div class="col-lg-12 col-md-12">
										<h3>Accomplishments
										</h3>
										<p class="mb-30">He completed his BDS Degree from Dhaka Dental College in 1994 and finished his post-graduation in MS Prosthodontics from Bangabandhu Sheik Mujib Medical University in 2006. </p>
										<p class="mb-30">.He has joined Government service (BCS - Health) in 1997 and worked in different hospitals. He received advanced training on CAD - CAM of Prosthesis and Implant Planning from Bengaluru, India.</p>

									</div>
									<!-- <div class="col-lg-6 col-md-6">
										<div class="service-list-img">
											<img src="assets/img/service-details/1.jpg" alt="Image">
										</div>
									</div> -->
								</div>
							</div>
							<div class="car-service-list-wrap">
								<div class="row align-items-center">
									<div class="col-lg-6 col-md-6">
										<div class="service-list-img">
											<img src="{% static 'website/img2/page-bg/MG_0664.jpg'%}" alt="Image">
										</div>
									</div>
									<div class="col-lg-6 col-md-6">
										<div class="service-list-img">
											<img src="{% static 'website/img2/page-bg/IMG_4098a.jpg'%}" alt="Image">
										</div>
									</div>
								</div>
							</div>
							
							
						</div>
						
						
					</div>
					<div class="col-lg-3">
						<img src="{% static 'website/img/doctors/drawal.jpg'%}" alt="Image">
						<br>
						


					</div>
					
					
					
				</div>
				</div>
		</section>

		<!-- End Service Details Area -->

		

		
		<!-- End Footer Top Area -->

		{% endblock %}
		