{% extends 'base2.html' %}
{% load static %}

{% block content %}

		 <!-- ***** Breadcrumb Area Start ***** -->
		 <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
			<div class="container h-100">
			  <div class="row h-100 align-items-center">
				<div class="col-12">
				  <h2 class="title">Dental  Implant</h2>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="breadcumb--con">
			<div class="container">
			  <div class="row">
				<div class="col-12">
				  <nav aria-label="breadcrumb">
					<ol class="breadcrumb">
					  <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
					  <li class="breadcrumb-item active" aria-current="page">Dental  Implant</li>
					</ol>
				  </nav>
				</div>
			  </div>
			</div>
		  </div>
		
		<!-- End Header Area -->

		

		

		<!-- End Service Details Area -->
		<section class="service-details-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="service-sidebar-area">
							<div class="service-list service-card">
								<h3 class="service-details-title">Facility</h3>Aesthetics, prosthetics, surgery, pedodontics in dental implant 
								<ul>
									<li>
										Aesthetics 
										<i class='bx bx-check'></i>
									</li>
									<li>
										Prosthetics
										<i class='bx bx-check'></i>
									</li>
									<li>
										Surgery
										<i class='bx bx-check'></i>
									</li>
									<li>
										Pedodontics 
										<i class='bx bx-check'></i>
									</li>
								</ul>
							</div>
							<div class="service-faq service-card">
								<h3 class="service-details-title">FAQ</h3>
								<div class="faq-area">
									<div class="questions-bg-area">
										<div class="row">
											<div class="col-lg-12">
												<div class="faq-accordion">
													<ul class="accordion">
														<li class="accordion-item">
															<a class="accordion-title active" href="javascript:void(0)">
																<span>1</span>
																What is Dental Implant?
															</a>
															<p class="accordion-content show">Dental implant is the perfect method and lifetime solution for replacing missing or badly damage tooth, absence of teeth, form, function...</p>
														</li>
														<li class="accordion-item">
															<a class="accordion-title" href="javascript:void(0)">
																<span>2</span>
																Who needs Dental Implant?
															<p class="accordion-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis deleniti nisi necessitatibus, dolores voluptates quam blanditiis fugiat doloremque? Excepturi, minus rem error aut necessitatibus quasi voluptates assumenda ipsum provident tenetur? Lorem.</p>
														</li>
														<li class="accordion-item">
															<a class="accordion-title" href="javascript:void(0)">
																<span>3</span>
																Is it painful?
															</a>
															<p class="accordion-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis deleniti nisi necessitatibus, dolores voluptates quam blanditiis fugiat doloremque? Excepturi, minus rem error aut necessitatibus quasi voluptates assumenda ipsum provident tenetur? Lorem.</p>
														</li>
														<li class="accordion-item">
															<a class="accordion-title" href="javascript:void(0)">
																<span>4</span>
																How many stages are in Dental Implant?
															</a>
															<p class="accordion-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis deleniti nisi necessitatibus, dolores voluptates quam blanditiis fugiat doloremque? Excepturi, minus rem error aut necessitatibus quasi voluptates assumenda ipsum provident tenetur? Lorem.</p>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div> 
							</div>
							<div class="service-list service-card">
								<h3 class="service-details-title">Contact Info</h3>
								<ul>
									<li>
										<a href="tel:+8801765-65454">
											+8801765-65454
											<i class='bx bx-phone-call bx-rotate-270'></i>
										</a>
									</li>
									<li>
										<a href="mailto:info@ddentalcenter.com">
											info@ddentalcenter.com
											<i class='bx bx-envelope'></i>
										</a>
									</li>
									<li>
										<a href="contact.html">
										Concord Arcadia Shopping Mall 
										<i class='bx bx-location-plus'></i>
									</a>
									</li>
									<li>
										9:00 AM – 8:00 PM
										<i class='bx bx-time'></i>
									</li>
								</ul>
							</div>
							<div class="service-list service-card">
								<h3 class="service-details-title">Download Brochures</h3>
								<ul>
									<li>
										<a href="#">
											PDF File (1)
											<i class='bx bxs-cloud-download'></i>
										</a>
									</li>
									<li>
										<a href="#">
											PDF File (2)
											<i class='bx bxs-cloud-download'></i>
										</a>
									</li>
									<li>
										<a href="#">
											PDF File (3)
											<i class='bx bxs-cloud-download'></i>
										</a>
									</li>
									<li>
										<a href="#">
											PDF File (4)
											<i class='bx bxs-cloud-download'></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="service-details-wrap">
							<div class="service-img">
								<img src="{% static 'website/img/service/implant.png'%}" alt="Image">
							</div>
							<h3>Highly qualified team with long experience in excellence in dentistry for patients who demand and expect the best
							</h3>
							<p>Dental implant is the perfect method and lifetime solution for replacing missing or badly damage tooth, absence of teeth, form, function and aesthetics. In absence of teeth human face in bite and chewing. Result in malnutrition and incomplete diagnosis. Only dental implants allow you to return the functionality of the tooth completely instead of natural teeth. With this you can enjoy your favorite Food like meat, nuts etc.</p>
							<p>Instantly reverse age with missing teeth the face has a sunken appearance and a person looks much older than he/she on the actually with dental implant this is reverse immediately and a well-balanced natural and radiant smile is gained. This process alone would make one look at least 20 years youngest.</p>
							<p>Successful replacement of teeth with implants is an extremely 'technique sensitive' process, requiring great expertise. An advanced titanium structure is anchored into the bone where the tooth is to be replaced. This structure acts like a support for the 'crown' or the artificial tooth. These mechanics are exactly similar to how a natural tooth anchors itself, and therefore, dental implants are the ideal replacement solution.</p>
							<p>We Only Use Those Implant Systems which meet the most stringent of international quality standards. Some of the brands that we use, BICON & NOBEL BIOCARE.

							</p>
							<h3>Aesthetics, prosthetics, surgery, pedodontics in dental implant :</h3>

							<p>We believe that implants are not just about replacing teeth. It is related to cosmetic dentistry, oral surgery, prosthodontics and also its lifetime maintenance related to periodontology. For this Dhanmondi Dental Center performed dental implantology by a team, comprising of dental implantology’s trained from America academy of implantol- ogy (AAID), prosthodontics, oral and maxillofacial surgeon and aesthetic dentist. All of them are well known in Bangladesh for their respective fields and this combination brings about results that are absolutely stunning and undoubtedly, unmatched.</p>
							<h3>In house radio visual graphics (RVG):</h3>
							<p>We are using low dose chair side portable radiology with radio visual graphic system which is absolutely vital for accurate planning and placement of impant.it also helps in the accurate evaluation of critical structure, like nerves teeth roots, sinus etc., thereby eliminating any chances of failure occurring due to misdiagnosis. Our implant centers are equipped with these state-of-the-art machines to ensure a ﬂawless execution of absolutely any type of implant case.</p>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem.</p>
							<!-- <ul>
								<li class="paint">
									<i class='bx bx-check'></i>
									Paint surface clay barred is vailable to surface
								</li>
								<li>
									<i class='bx bx-check'></i>
									Boot compartment cleaned the car
								</li>
							</ul> -->
							<h3>To deliver the highest standard of prosthesis we are taking support software base technology.
							</h3>


							<p class="mb-30">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
							<h2>Depending on the technology used, implants at Dhanmondi Dental are categorized into 3 types, based on the time required:</h2>
						   <h3>Two stage implants</h3>
						   <p>The procedure is carried out in two stages spread over a mini- mum interval of 3 months. The first stage involves the placement of the implants and requires one to two sessions. The second stage involves the fabrication of the crowns (teeth). This is an obsolete technology and only used in those few cases where single stage implants are clinically not possible.</p>
						   <h3>Single stage implants: </h3>
						   <p>The latest in dental implant technology, this involves comple- tion of the entire procedure, right from extractions, implant placements and fabrica- tion of the crowns (teeth) in one stage of approximately two weeks. This system can be used for almost all types and categories of cases.

						</p>
						   <h3>Immediate implants</h3>
						   <p>This is a specialized technique, allowing teeth to be replaced in a single day. Most cases are eligible for this technique; however, scans and evaluation are required to confirm this. This system is a revolutionary concept that combines precision surgery with specialized implants for immediate results. When it comes to replacement of teeth with implants, each individual has unique needs. Whether it is the extent and quality of the bone, the relation of jaws, an individual's preference, time constraints or budget, there are hundreds of possible situations, each requiring a customized solution. We are well equipped to cater to any situation through our broad range of expertise.</p>
							<h2>Apart from the best implantological solutions and experts, we guarantee: </h2>
						   <ul><l1>•	Consult with the highly expert consultant before the procedure </l1></ul>
						  <ul><l1>•	Follow the highest standards Dental implantation procedures </l1></ul>
						   <ul><l1>•	Use of best quality materials </l1></ul>
						   <ul><l1>•	Post support after dental implantation </l1></ul>
						   <ul><l1>•	Satisfaction with the service provided and a beautiful smile </l1></ul>
						   <h2>A candidate for dental implantation is: </h2>
						   <ul><l1>•	A person of 18 years of age or older </l1></ul>
						  <ul><l1>•	A person missing one or more teeth </l1></ul>
						   <ul><l1>•	Do not want to get dentures, bridges or crowns</l1></ul>

							<div class="car-service-list-wrap">
								<div class="row align-items-center">
									<div class="col-lg-6 col-md-6">
										<div class="service-list-img">
											<img src="{% static 'website/img/service/implant2.png'%}" alt="Image">
										</div>
									</div>
									<div class="col-lg-6 col-md-6">
										<div class="car-service-list">
											<ul>
												<li>
													<i class='bx bx-check'></i>
													Consult with the highly expert consultant before the procedure
												</li>
												<li>
													<i class='bx bx-check'></i>
													Post support after dental implantation 
												</li>
												<li>
													<i class='bx bx-check'></i>
													Use of best quality materials
												</li>
												<li>
													<i class='bx bx-check'></i>
													Satisfaction with the service provided and a beautiful smile
												</li>
												<li>
													<i class='bx bx-check'></i>
													A person of 18 years of age or older
												</li>
												<li>
													<i class='bx bx-check'></i>
													Do not want to get dentures, bridges or crowns
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							
							
						</div>
					<!-- ***** Testimonials Area Start ***** -->
 
						<!-- End Testimonials Area Three -->
										
										
									</div>
								</div>
							</div>
						</section>
        

		

		{% endblock %}